<!DOCTYPE html>
<html>
<head>
    <title>Residential Information</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/concrete.css' %}" />
</head>
<body>
    <h2>How much could you reduce your CO2 emissions by switching to a heat pump?</h2>
    <h5>Please enter in as much information as you can, and we'll estimate the rest.</h5>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>

    {% if submitted_data %}
        <!-- <p>Submitted Data:</p>
        <ul>
            <li><strong>Square Footage:</strong> {{ submitted_data.square_footage }}m</li>
            <li><strong>Ceiling Height:</strong> {{ submitted_data.ceiling_height }}m</li>
            <li><strong>Zip code:</strong> {{ calculated_data.zip_code }}</li>
            <li><strong>Latitude:</strong> {{ calculated_data.latitude }}</li>
            <li><strong>Longitude:</strong> {{ calculated_data.longitude }}</li>
            <li><strong>Air Change Rate:</strong> {{ submitted_data.air_change_rate }}</li>
            <li><strong>Wall Insulation R-Value:</strong> {{ submitted_data.wall_insulation_rvalue }}</li>
            <li><strong>Home Heat Capacity:</strong> {{ submitted_data.home_heat_capacity }}</li>
            <li><strong>Heating Type:</strong> {{ submitted_data.heating_type }}</li>
            <li><strong>South Facing Window Size:</strong> {{ submitted_data.south_facing_window_size }}</li>
            <li><strong>Window Solar Heat Gain Coefficient:</strong> {{ submitted_data.window_solar_heat_gain_coefficient }}</li>
        </ul> -->
        <!-- <div id="monthly_energy_balance_presentation"></div>
        {{ calculated_data.monthly_energy_balance|json_script:"monthly_energy_balance" }}
        <script>
            const monthlyEnergyBalanceRaw = JSON.parse(document.getElementById("monthly_energy_balance").textContent);
            // turn this into a model we can render as a table or chart (if needed)
            const monthlyEnergyBalance = {};
            Object.values(monthlyEnergyBalanceRaw.value).forEach( (value, index) => {
                const variable = monthlyEnergyBalanceRaw.variable[index];
                if ( !monthlyEnergyBalance[variable] ) {
                    monthlyEnergyBalance[variable] = [];
                }
                monthlyEnergyBalance[variable].push(value);
            });
            monthlyEnergyBalance.Month = Object.values(monthlyEnergyBalanceRaw.month).slice(0, 12);

            const table = document.createElement("table");
            const headerRow = table.insertRow();
            const tableRows = [];
            Object.keys(monthlyEnergyBalance).forEach( header => {
                const headerCell = headerRow.insertCell();
                headerCell.appendChild(document.createTextNode(header));
                const dimension = monthlyEnergyBalance[header];
                Object.values(dimension).forEach( (value, index) => {
                    if ( !tableRows[index] ) {
                        tableRows[index] = table.insertRow();
                    }
                    const cell = tableRows[index].insertCell();
                    cell.appendChild(document.createTextNode(value));
                });
            });

            document.getElementById('monthly_energy_balance_presentation').appendChild(table);
        </script> -->
        
        <!-- <p>Calculated energy balance</p>
        <p> {{ calculated_data.monthly_energy_balance }}</p> -->

    {% endif %}

</body>
</html>
