
#submitBtn.submitting {
    display: none;
}

.loadingMessage {
    display: none;
}
.loadingMessage.submitting {
    display: block;
    text-align: center;
}

#home-location-section {
    margin-bottom: 20px;
}