# Instructions: Copy this file into a file called `credentials.py` (i.e., remove the `.template` part) and fill in everything below
# Get an API key from https://developer.nrel.gov and fill it out here
NREL_API_EMAIL = "EMAIL_ASSOCIATED_WITH_API_KEY"
NREL_API_KEY = "API_KEY"

# The actual value here doesn't really matter, but we don't want to put the value used in prod in the repo itself
# This is imported in settings.py and used as part of launching the server
DJANGO_SECURITY_KEY = "SOME_SECURITY_KEY"